h1 {
  text-align: center;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 430px;
  margin: auto;
}

.cards {
  width: 100px;
  height: 150px;
  background-color: darkOliveGreen;
  border-radius: 5px;
}

.images {
  background-color: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}