body {
  text-align: center;
  font-family: Montserrat, "sans-serif";
}

#cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 430px;
  margin: auto;
}

.cards {
  width: 100px;
  height: 150px;
  background-color: lightsteelblue;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 100%;  
}

#message {
  text-align: center;
  color: rgba(90, 8, 8, 0.308);
}

#stars {
  display: flex;
  width: 195px;
  margin: 20px auto;
}